/* This ensures that the modal itself isn’t blurred */
body.blur > *:not(#projectModal) {
  filter: blur(5px);
}

.modal-close-button {
  font-size: 1.5rem; /* Adjust size as needed */
  color: black;
}

a:link {
  color: blue; /* Unvisited link */
}

a:visited {
  color: purple; /* Visited link */
}

a:hover {
  color: red; /* Mouse over link */
}

a:active {
  color: yellow; /* Selected link */
}

/* Menu link styles */
.menu a {
  color: black; /* Default color for menu links */
}

.menu a:hover {
  color: green; /* Hover color for menu links */
}

.tile {
  cursor: pointer;
}