/* This ensures that the modal itself isn’t blurred */
body.blur > *:not(#projectModal) {
  filter: blur(5px);
}

.modal-close-button {
  font-size: 1.5rem; /* Adjust size as needed */
  color: black;
}
